.smpSortableTable--processed,
.smpSortableTable--processed thead,
.smpSortableTable--processed tbody,
.smpSortableTable--processed tr,
.smpSortableTable--processed th,
.smpSortableTable--processed td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

.smpSortableTable--processed tr:nth-child(even) {
    background-color: #eeeeee;
}

.smpSortableTable--nav {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding:5px;
}

.smpSortableTable--sortable,
.smpSortableTable--nav-links {
    cursor: pointer;
    color: #3b8ede;
}

.smpSortableTable--nav-links {
    color: white;
    background-color: #3b8ede;
    padding: 5px 10px;
}

.smpSortableTable--nav-links:not(.smpSortableTable--disabled):hover {
    color: white;
    background-color: #41a9ff;
    text-decoration: none;
}

.smpSortableTable--sortable.desc::after {
    content: '\25B2';
}

.smpSortableTable--sortable.asc::after {
    content: '\25BC';
}

.smpSortableTable--nav-links.smpSortableTable--disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
    color: lightgrey;
}

.smpSortableTable--prev,
.smpSortableTable--first {
    font-size:22px;
    font-weight:bolder;
    width:120px !important;
    height:60px !important;
    float: left;
    margin-right: 10px;
    padding:15px;
        color: #111 !important;
	background-color: #ddd !important;
	background-image: -webkit-linear-gradient(top, #bbb, #eee) !important;
	background-image:    -moz-linear-gradient(top, #bbb, #eee) !important;
	background-image:     -ms-linear-gradient(top, #bbb, #eee) !important;
	background-image:      -o-linear-gradient(top, #bbb, #eee) !important;
	border-top: 1px solid #fff !important;
	border-radius: 3px !important;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7) !important;
}

.smpSortableTable--next,
.smpSortableTable--last{
    font-size:22px;
    font-weight:bolder;
    width:120px !important;
    height:60px !important;
    float: right;
    margin-left: 10px;
    padding:15px;
        color: #111 !important;
	background-color: #ddd !important;
	background-image: -webkit-linear-gradient(top, #bbb, #eee) !important;
	background-image:    -moz-linear-gradient(top, #bbb, #eee) !important;
	background-image:     -ms-linear-gradient(top, #bbb, #eee) !important;
	background-image:      -o-linear-gradient(top, #bbb, #eee) !important;
	border-top: 1px solid #fff !important;
	border-radius: 3px !important;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7) !important;
}

@media (max-width: 768px) {
    .smpSortableTable--processed.responsive,
    .smpSortableTable--processed.responsive thead,
    .smpSortableTable--processed.responsive tbody,
    .smpSortableTable--processed.responsive tr,
    .smpSortableTable--processed.responsive td {
        display:block;
        width:95vw;
        max-width: 100%;
        border:none;
        padding:2px;
    }

    .smpSortableTable--processed.responsive th {
        display: inline-block;
        width: auto;
        color: white;
        background-color: #3b8ede;
        padding: 5px 10px;
        margin: 5px 10px 5px 0;
        border:none;
    }

    .smpSortableTable--processed.responsive th.smp-not-sortable {
        display:none;
    }

    .smpSortableTable--processed.responsive thead:before {
        content: attr(data-smp-content) ;
        font-weight: bold;
    }

    .smpSortableTable--processed.responsive tbody td:before {
        content: attr(data-smp-content) ': ' ;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .smpSortableTable--processed.responsive + .smpSortableTable--nav > * {
        display:block;
        float:none;
        margin:15px 0 0 0;
    }
}

.smpSortableTable--counter{
    margin-top:25px;
    color:white;
    font-size:20px;
    font-weight:bolder;
}