body{
    background-color:#404142;
    transform-origin: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
    cursor: none !important;
}

.teclado{
    margin:0px 10px 10px 28px;
}

.margem{
    margin-left:0px !important;
    margin-right: 0px !important;
    height:50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);
}

.visor_valor{
    text-align:center;
    height:50px;
    width: 100px;
}

.footer {
    font-size:10px;
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top:20px;
    padding-bottom:0px;
}

.botao{
    height: 55px;
    font-size: 20px;
    margin:2px;
    width:85px;
    font-weight:bolder;
    text-align:center;
    font:Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image:    -moz-linear-gradient(top, #bbb, #eee);
    background-image:     -ms-linear-gradient(top, #bbb, #eee);
    background-image:      -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

.botao:focus{
    cursor:none !important;
    outline:none;
}

.botao:active{
    cursor:none !important;
}

.visor{
    background-color : #C0C0C0;
    margin: 15px;
    margin-bottom:5px;
    height: 50px;
    border: 1px solid black;
    cursor: none !important;
    font-size:60px;
    color:black;
}

.componente_teclado{
    border-radius:10px;
    width:297px;
    margin:5px;
    margin-top:10px;
    background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.color:hover
{
    background:#53a7ea;
    cursor: none !important;
}
.botao:active
{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    cursor: none !important;
}

.btnConfig1:hover{
    cursor:none;
}

.btnConfig1:focus{
    outline:none;
}

.btnCart{
    border:none;
    width:90%;
    height:80px;
    background-color:green;
    font-weight:bold;
    Font-size:20px;
    color:white;
}

.btnFinalizar{
    width:90%;
    height:80px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	color: white;
	background-color: #148714;
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    font-size:27px;
}

.btnFinalizarOff{
    width:90%;
    height:80px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	color: #111;
	background-color: #bcbcbc;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    font-size:27px;
}

.btnEsvaziar{
    width:90%;
    height:80px;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    font-size:27px;
}

.btnConcluir{
    color:white;
    font-size:22px;
    font-weight:bolder;
    border:none;
    width:100%;
    height:120px;
    background-color:green;
}

.btnEsvaziarCarrinho{
    color:white;
    font-size:22px;
    font-weight:bolder;
    border:none;
    width:100%;
    height:100px;
    background-color:red;
}

.btnVoltar{
    font-size:22px;
    font-weight:bolder;
    border:none;
    width:100%;
    height:100px;
    background-color:white;
}

.btnAdd{
    height:100%;
    width:60px;
}

.btnRemove{
    background-color:red;
    height:40px;
    width:50px;
}

.btnAddCarrinho{
    background-color:green;
    height:40px;
    width:50px;
}

.colDados{
    background-color: rgba(0,0,0,.5);
    height:405px;
    padding:0px;
}

.txtDados{
    font-weight:bold;color:white;
    font-size:18px;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image:linear-gradient(to bottom, #f54d14, #ec4a14, #e34714, #da4514, #d14214);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-content {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height:90%;
  width: 99%; /* Could be more or less, depending on screen size */
}

.modal-content-mesa {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 90%; /* Could be more or less, depending on screen size */
}

.modal-content-produto {
  background-color:transparent;
  background-size:cover;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 70%; /* Could be more or less, depending on screen size */
}

.modal-content-teclado {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 0% auto; /* 15% from the top and centered */
  padding: 7px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

.btnTeclado{
    margin:2px;
    width:65px;
    height:65px;
}

.btnCodInput{
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    font-size:27px;
    margin:2px;
    width:90%;
    height:80px;
}

.modal-login {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0); /* Black w/ opacity */
}

.modal-content-login {
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  margin: 0% auto; /* 15% from the top and centered */
  padding: 20px;
  padding-top:10px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  height:100%;
}


.trProd{
    height:55px;
    border:none;
}

.tdProd{
    padding: 1px;
}

.trCarrinho{
    height:50px;
    font-size:20px;
    border:none;
}

#tableProd{
    height:300px !important;
    margin-bottom: 5px !important;
    background-color:white;
}

#codInputIdiv{
    padding:10px;
    background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	height:405px;
}

#CodValue{
    width:100%;
    height:60px;
    text-align:center;
	font:Arial, sans-serif;
	font-size:35px;
    font-weight:bolder;
}

.btnModalProduto{
    height:80px;
    width:90%;
    font-weight:bolder;
    text-align:center;
	font:Arial, sans-serif;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    font-size:30px;
}

.productHeader{
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    color:white;
    background-color:#F54D17;
    text-align:center;
}

.productCard{
  background-image:url('../imagens/btnPlanoFundo.png');
  background-size:cover;
  border:none;
  height: 350px;
}

.productText{
    color:white;
    font-weight:bold;
    font-size:30px;
}

.modal-content-mensagem {
    background-color:white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: none;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content-load {
  background-color:white;
  opacity:0.5;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 10px;
  border: none;
  width: 60%; /* Could be more or less, depending on screen size */
}

.my-custom-scrollbar {
position: relative;
height: 250px;
overflow: auto;
background-color:white;
flex-direction: row-reverse;
}

.table-wrapper-scroll-y {
display: block;
}

.pAlert{
    font-size:25px;
    font-weight:bold;
    padding-top:15px;
}

.btnConfirmar{
    width:150px;
    height:60px;
    font-weight:bold;
}

.loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt {
    font-size: 20px;
    color: #666;
}

*{
    cursor:none !important;
}

*:hover{
    cursor:none !important;
}

.btnNav{
    margin-top:3px;
    width:250px;
    height:40px;
    color:white;
    font-size:22px;
    font-weight:bolder;
    background-color:rgba(0,0,0,.2);
    border-radius:10px;
    border:none;
}
