<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!---------------------------- Referencia de CSS START ---------------------------->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontawesome-free-5.7.2-web/css/all.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <!---------------------------- Referencia de CSS END ---------------------------->

        <!---------------------------- Referencia de Javascript START ---------------------------->
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
        <script src="{{ url_for('static', filename='css/bootstrap.min.js') }}"></script>
        <!---------------------------- Referencia de Javascript END ---------------------------->

    </head>
    <body background="{{ url_for('static', filename='imagens/btnPlanoFundo.png')}}">
        <!---------------------------- Barra de Navegação START ---------------------------->
        <div class="row margem">
            <div class="col-md-6" style="text-align:left;padding-top:2px;">
                <button id="btnListaProd" class="btnNav" onclick="exibirLista()">Lista de Produtos</button>
                <button id="btnCod"       class="btnNav" onclick="exibirInputCod()" style="display:none;">Seleção por Código</button>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-2 text-right pt-1">
                <button id="btnBusca" onclick="exibirTeclado()" class="btnNav" style="width:100px;display:none;">Buscar</button>
            </div>
            <div class="col-md-3 text-right pt-1">
                <button onclick="sair()" class="btnNav" style="width:100px;">Sair</button>
            </div>
        </div>
        <!---------------------------- Barra de Navegação END ---------------------------->

        <div class="row" style="margin:10px;">
            <!---------------------------- Carrinho e Dados do Usuario START ---------------------------->
            <div class="col-md-6 colDados">
                <div class="row mb-1" style="height:25px;">
                    <div class="col-md-7 pr-0">
                        <p id="pNome" class="txtDados"></p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <p id="pCredito" class="txtDados">0.00 YC</p>
                    </div>
                </div>
                <div class="row" style="padding:2px;">
                    <div class="col-md-12" style="height:250px;">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table id="tbCarrinho" class="table table-striped">
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-1 mb-1" style="height:25px;">
                    <div class="col-md-2 pr-0">
                        <p  class="txtDados">Itens</p>
                    </div>
                    <div class="col-md-2 p-0 text-left">
                        <p class="txtDados" id="itens">0</p>
                    </div>
                    <div class="col-md-3 p-0 text-right">
                        <p class="txtDados">Total</p>
                    </div>
                    <div class="col-md-5 pl-0">
                        <p class="txtDados" id="valor">0.00 YC</p>
                    </div>
                </div>
                <div class="row text-center" style="margin-top:1px;">
                    <div class="col-md-6 text-center p-1">
                        <button class="btnEsvaziar" onclick="EsvaziarCarrinho()" >Esvaziar</button>
                    </div>
                    <div class="col-md-6 text-center p-1">
                        <button id="btnFinalizar" class="btnFinalizarOff" onclick="FinalizarConsmo()">Finalizar</button>
                    </div>
                </div>
            </div>
            <!---------------------------- Carrinho e Dados do Usuario END ---------------------------->

            <!---------------------------- Lista de Produtos START ---------------------------->
            <div id="ListaProdutos" class="col-md-6" style="padding-left:10px;padding-right:10px;display:none;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height:400px;">
                            <table class="table table-striped" id="tableProd">
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!---------------------------- Lista de Produtos END ---------------------------->

            <!---------------------------- Seleção de Produto por Código START ---------------------------->
            <div id="CodInput" class="col-md-6 text-center" style="padding-left:10px;padding-right:10px;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="mb-1" style="color:white;font-size:20px;font-weight:bold;">Informe o Código do Produto</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10 text-center">
                        <div class = "componente_teclado">
                            <div class ="visor row">
                                <input type="text" id="CodValue" disabled>
                            </div>
                            <div class = "teclado mt-3">
                                <div class ="row">
                                    <button class="botao" onclick="tecladoCodInput(7)">7</button>
                                    <button class="botao" onclick="tecladoCodInput(8)">8</button>
                                    <button class="botao" onclick="tecladoCodInput(9)">9</button>
                                </div>
                                <div class ="row">
                                    <button class="botao" onclick="tecladoCodInput(4)">4</button>
                                    <button class="botao" onclick="tecladoCodInput(5)">5</button>
                                    <button class="botao" onclick="tecladoCodInput(6)">6</button>
                                </div>
                                <div class ="row">
                                    <button class="botao" onclick="tecladoCodInput(1)">1</button>
                                    <button class="botao" onclick="tecladoCodInput(2)">2</button>
                                    <button class="botao" onclick="tecladoCodInput(3)">3</button>
                                </div>
                                <div class ="row">
                                    <button class="botao" onclick="apagarCod()"><i class="fas fa-caret-left"></i></button>
                                    <button class="botao" onclick="tecladoCodInput(0)">0</button>
                                    <button class="botao" onclick="buscarCodInput()">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
            <!---------------------------- Seleção de Produto por Código END ---------------------------->
        </div>

        <!---------------------------- Modal de Busca por Nome START ---------------------------->
        <div id="ModalTeclado" class="modal">
            <div class="modal-content-teclado">
                <table>
                    <tr style="height:50px;">
                        <td colspan="10">
                            <input id="searchInput" type="text" style="width:100%;height:50px;font-size:25px;"/>
                        </td>
                        <td><button onclick="apagar()" style="height:50px;width:100%;"><-</button></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('1')">1</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('2')">2</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('3')">3</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('4')">4</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('5')">5</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('6')">6</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('7')">7</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('8')">8</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('9')">9</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('0')">0</button>
                        </td>
                        <td rowspan="2"><button class="btnTeclado" onclick="fecharTeclado()" style="height:135px;">Voltar</button></td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('q')">Q</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('w')">W</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('e')">E</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('r')">R</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('t')">T</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('y')">Y</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('u')">U</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('i')">I</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('o')">O</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('p')">P</button>
                        </td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('a')">A</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('s')">S</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('d')">D</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('f')">F</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('g')">G</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('h')">H</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('j')">J</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('k')">K</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('l')">L</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('ç')">Ç</button>
                        </td>
                         <td rowspan="2"><button onclick="buscar()" class="btnTeclado" style="height:135px;">Buscar</button></td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('z')">Z</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('x')">X</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('c')">C</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('v')">V</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('b')">B</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('n')">N</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInput('m')">M</button>
                        </td>
                        <td colspan="3">
                            <button class="btnTeclado" style="width:100%;" onclick="tecladoInput(' ')">_______________</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!---------------------------- Modal de Busca por Nome END ---------------------------->

        <!---------------------------- Modal de Login START ---------------------------->
        <div id="ModalLogin" class="modal-login">
            <div class="modal-content-login text-center">
                <div class="row">
                    <div class="col-md-12 text-center" style="font-size:30px;color:white;font-weight:bold;">
                        Informe seu PIN para iniciar o consumo
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9" style="padding-left:40px;">
                        <div class = "componente_teclado">
                            <div class ="visor row">
                                <input type="password" class = "visor_valor col-md-12" disabled>
                            </div>
                            <div class = "teclado">
                                <div class ="row">
                                    <button class = "botao" onclick = "calc('y')">Y</button>
                                    <button class = "botao" onclick = "calc('d')">D</button>
                                    <button class = "botao" onclick = "calc('o')">O</button>
                                </div>
                                <div class ="row">
                                    <button class = "botao" onclick = "calc(7)">7</button>
                                    <button class = "botao" onclick = "calc(8)">8</button>
                                    <button class = "botao" onclick = "calc(9)">9</button>
                                </div>
                                <div class ="row">
                                    <button class = "botao" onclick = "calc(4)">4</button>
                                    <button class = "botao" onclick = "calc(5)">5</button>
                                    <button class = "botao" onclick = "calc(6)">6</button>
                                </div>
                                <div class ="row">
                                    <button class = "botao" onclick = "calc(1)">1</button>
                                    <button class = "botao" onclick = "calc(2)">2</button>
                                    <button class = "botao" onclick = "calc(3)">3</button>
                                </div>
                                <div class ="row">
                                    <button class = "botao" onclick = "calc(-1)"><i class="fas fa-caret-left"></i></button>
                                    <button class = "botao" onclick = "calc(0)">0</button>
                                    <button class = "botao"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------- Modal de Login END ---------------------------->

        <!---------------------------- Modal de Detalhes do Produto START ---------------------------->
        <div id="ModalProduto" class="modal">
            <div class="modal-content-produto">
                <div class="card p-0 border-0">
                    <div class="card-body p-0 rounded-lg productCard">
                        <div class="card-header text-center productHeader">
                            <p id="NomeProd" class="card-text" style="font-weight:bold;font-size:25px;">Nome do produto</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row m-1 p-1">
                                    <div class="col-md-6 text-center" >
                                        <img src="../static/imagens/logoClub.jpeg" style="height:200px;width:200px;"/>
                                    </div>
                                    <div class="col-md-6 text-center" >
                                        <div class="row">
                                            <div class="col-md-12 text-center" >
                                                <p class="card-text productText">Valor</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <p id="ValorProd" class="card-text productText"></p>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-md-12 m-2">
                                                    <button class="btnModalProduto" onclick="closeModalProduto()">Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------- Modal de Detalhes do Produto END ---------------------------->

        <!---------------------------- Modal para Selecionar Mesa START ---------------------------->

        <div id="ModalMesa" class="modal">
            <div class="modal-content-mesa">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 style="color:white;">Informe o número da sala ou da mesa para concluir o consumo</h4>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6 text-center">
                        <h4 style="color:white;">Onde Entregar?</h4>
                            <div id="ListaLocalizacoes" class="col-md-6" style="padding-left:10px;display:none;width:100%; margin-top: 15px;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table style="width: 420px; margin-bottom: 10px;">
                                             <tr>
                                                <td style="width: 160px; color: #ffffff; font-weight:bold;">COD</td>
                                                <td style="width: 260px; color: #ffffff; font-weight:bold;">DESCRIÇÃO</td>
                                            </tr>
                                        </table>
                                        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height:210px; width: 420px;">
                                            <table class="table table-striped" id="tableLocal">
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class ="row">
                                <div class="col-md-12 text-center p-4">
                                    <p id="mesa" style="color:white;font-size:30px;font-weight:bold;"></p>
                                </div>
                             </div>
                    </div>

                <!--
                <div class="row" style="margin-top:20px;">
                    <div class = "teclado">
                        <div class ="row">
                            <button class = "botao" onclick = "mesa('7')">7</button>
                            <button class = "botao" onclick = "mesa('8')">8</button>
                            <button class = "botao" onclick = "mesa('9')">9</button>
                        </div>
                        <div class ="row">
                            <button class = "botao" onclick = "mesa('4')">4</button>
                            <button class = "botao" onclick = "mesa('5')">5</button>
                            <button class = "botao" onclick = "mesa('6')">6</button>
                        </div>
                        <div class ="row">
                            <button class = "botao" onclick = "mesa('1')">1</button>
                            <button class = "botao" onclick = "mesa('2')">2</button>
                            <button class = "botao" onclick = "mesa('3')">3</button>
                        </div>
                        <div class ="row">
                            <button class = "botao" onclick = "mesa(-1)">&larr;</button>
                            <button class = "botao" style="width:173px;" onclick = "mesa(0)">0</button>
                        </div>
                    </div>
                    -->


                     <div class="col-md-6 text-center">
                          <div class="row">
                            <legend style="color:white !important;">Observações do Pedido</legend>
                            <label for ="observacao"></label>
                            <textarea id="observacao" rows="10" name="observacao" maxlength="500" wrap="hard" onfocus="exibirTecladoObs();" style="width:95%;"></textarea>
                          </div>
                          <div class="row" style="margin-top:20px;">
                              <div class="col-md-6 text-center">
                                <button class="btnModalProduto" onclick="CancelMesa()">Cancelar</button>
                              </div>
                              <div class="col-md-6 text-center">
                                <button class="btnModalProduto" onclick="ConcluirCompraComMesa()">Concluir</button>
                              </div>
                          </div>
                     </div>
                </div>
            </div>
        </div>

        <!---------------------------------- Modal teclado observação -------------------------------------->
        <div id="ModalTecladoObs" class="modal">
            <div class="modal-content-teclado">
                <table>
                    <tr style="height:50px;">
                        <td colspan="10">
                            <input id="obs" type="text" style="width:100%;height:50px;font-size:25px;"/>
                        </td>
                        <td><button onclick="apagarObs()" style="height:50px;width:100%;"><-</button></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('1')">1</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('2')">2</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('3')">3</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('4')">4</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('5')">5</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('6')">6</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('7')">7</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('8')">8</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('9')">9</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('0')">0</button>
                        </td>
                        <td rowspan="2"><button class="btnTeclado" onclick="fecharTecladoObs()" style="height:135px;width:90px;">Voltar</button></td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('q')">Q</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('w')">W</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('e')">E</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('r')">R</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('t')">T</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('y')">Y</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('u')">U</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('i')">I</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('o')">O</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('p')">P</button>
                        </td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('a')">A</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('s')">S</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('d')">D</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('f')">F</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('g')">G</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('h')">H</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('j')">J</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('k')">K</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('l')">L</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('ç')">Ç</button>
                        </td>
                         <td rowspan="2"><button onclick="anotar()" class="btnTeclado" style="height:135px; width:90px;">Concluir</button></td>
                    </tr>

                     <tr>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('z')">Z</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('x')">X</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('c')">C</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('v')">V</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('b')">B</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('n')">N</button>
                        </td>
                        <td>
                            <button class="btnTeclado" onclick="tecladoInputObs('m')">M</button>
                        </td>
                        <td colspan="3">
                            <button class="btnTeclado" style="width:100%;" onclick="tecladoInputObs(' ')">_______________</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!---------------------------- Modal para Selecionar Mesa END ---------------------------->

        <!---------------------------- Modal de Loading START ---------------------------->
        <div class="modal" id="loadMe" tabindex="-1" role="dialog" aria-labelledby="loadMeLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content-load">
              <div class="modal-body text-center">
                <div class="loader"></div>
                <div class="loader-txt">
                  <p>Processando</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---------------------------- Modal de Loading END ---------------------------->

        <!---------------------------- Alertas START ---------------------------->
        <div style="top:0;left:0;z-index:1000;position:fixed;width:100%;">
            <div class="alert alert-info alert-dismissible fade text-center p-0 show" id='successAlert' role="alert">
                <div class="row" style="margin-top:200px;">
                    <div class="col-md-12 text-center" style="height:400px;">
                        <p id="msgSucesso" class="pAlert"></p>
                    </div>
                </div>
            </div>

            <div class="alert alert-danger alert-dismissible fade text-center p-0 show" id='errorAlert' role="alert">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p id="msgErro" class="pAlert"></p>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning alert-dismissible fade text-center p-0 show" id='idleAlert' role="alert" style="margin-top:25%;">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p id="msgOciosidade" class="pAlert"></p>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------- Alertas END ---------------------------->

        <!---------------------------- Footer START ---------------------------->
        <div class="footer" style="display:none;">
            <div class="row">
                <p id="data" class="col-md-2 txt-foo">
                    {{ data }}
                </p>
                <p id="hora" class="col-md-2 txt-foo">
                    {{ hora }}
                </p>
                <p class="col-md-1 txt-foo">

                </p>
                <p id="con" class="col-md-2 txt-foo">
                    {{ conexao }}
                </p>
                <p class="col-md-3 txt-foo">
                    {{ device }}
                </p>
                <p class="col-md-2 txt-foo">
                    {{ versao }}
                </p>
            </div>
        </div>
        <!---------------------------- Footer END ---------------------------->
    </body>
</html>
